html{
  display: flex;
  margin: 50px 0 50px 0;
  justify-content: center;
  background-color: #ffffff;
}
body{
  width: 1200px;
  height: 3800px;
  background: linear-gradient(100deg, #f1c40f, #3498db);
  border-radius: 50px;
  box-shadow: 20px 20px 20px 10px rgb(0 0 0 / 70%);
}
.container{
  width: 1200px;

}
.menu{
  margin-top: 20px ;
  display: flex;
  justify-content: center;
  
}
.test{
  position: sticky;
  top: 0;
}
.headerMenu{
  display: flex;
 justify-content: space-between;
 text-decoration: none;
 text-shadow: 10px 10px 10px  rgb(0 0 0 / 100%);
 list-style: none;
 margin-top: 30px;
 margin-right: 30px;
}
.menuMenu{
  background-color: #B1A2FF;
  border-radius: 30px;
  width: 686px;
  height: 100px;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
  margin: 20px 0px 0px 50px;
}
.logo{
  border-radius: 30px;
  width: 403px;
  height: 100px;
  margin-top: 20px;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.linkMenu{
  text-decoration: none;
  font-size: 26px;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
 
}
.aboutMeBlok{
  display: flex;
  justify-content: center;
  margin-top: 80px;

}
.workImg{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #ffffff;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: solid 2px black;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.workImg2{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #ffffff;
  background-image: url(whirl.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: solid 2px black;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.workImg3{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #000000;
  background-image: url(enver.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: solid 2px black;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.workImg4{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #000000;
  background-image: url(baza.webp);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: solid 2px black;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.workImg5{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #000000;
  background-image: url(TTT.webp);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: solid 2px black;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.workImg6{
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: #000000;
  background-image: url(faviconiphone.webp);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: solid 2px black;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.workbox:hover{
  transform: scale(1.1);
  
}
.workbox{
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.firstline{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.secondline{
  
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  margin-right: 26px;
}
.MyWorks{
  
  background-image: url(MyWorks.svg);
  width: 1150px;
  height: 670px;
  margin: 150px auto;
}
.workLink{
  width: max-content;
  height: 35px;
  background-color: #ffffff;
  padding: 0 10px 0 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 50%);
}
.linkW{
  text-decoration: none;
   font-size: 26px;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
  color: black;
}
.kont{
  width: 1150px;
  height: 670px;
  background-image: url(Kontact.svg);
  margin: 150px auto;
}
.socMenu{
 display: flex;
 justify-content: space-between;
 text-decoration: none;
 flex-direction: column;
 align-items: flex-end;
 padding-right: 10px;
}
.call{
 padding-top: 100px;
 padding-right: 20px;
}
.linkSoc:hover{
  transform: scale(1.1);

}